.top-bar {
    height: 40px;
    line-height: 40px;
    border-bottom: 0.5px solid rgb(168, 168, 168);
}
.top-bar ul li{
    display: inline-block;
    margin: 0px 20px;
}
.top-bar ul li:first-child{
    margin-left: 0;
}
.top-bar ul li a{
    color: var(--body-color);
}
.top-bar ul li a i{
    margin-right: 5px;
    color: var(--blue);
}
