:root {
  --blue: #007bff;
  --light-blue: #00b3ff;
  --green:#28a745;
  --red:#ff3737;
  --body-color:#424646;
  --light-silver:#9e9e9e;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

ul {
  margin: 0;
  padding: 0;
}
li {
   list-style-type: none;
}
a {
  text-decoration: none;
}
div {
   box-sizing: border-box;
}